@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 47 100% 92%;

    --foreground: 226 18% 23%;

    --card: 47 100% 92%;

    --card-foreground: 226 18% 23%;

    --popover: 47 100% 92%;

    --popover-foreground: 226 18% 23%;

    --primary: 202 19% 33%;

    --primary-foreground: 47 100% 92%;

    --secondary: 78 20% 60%;

    --secondary-foreground: 47 100% 92%;

    --muted: 78 25% 85%;

    --muted-foreground: 226 15% 35%;

    --accent: 226 18% 23%;

    --accent-foreground: 47 100% 92%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 47 100% 92%;

    --border: 78 20% 75%;

    --input: 78 20% 75%;

    --ring: 202 19% 33%;

    --chart-1: 226 18% 23%;

    --chart-2: 202 19% 33%;

    --chart-3: 78 20% 60%;

    --chart-4: 47 100% 92%;

    --chart-5: 202 25% 45%;

    --radius: 0.5rem
  }
  .dark {

    --background: 226 18% 23%;

    --foreground: 47 100% 92%;

    --card: 202 15% 25%;

    --card-foreground: 47 100% 92%;

    --popover: 202 15% 25%;

    --popover-foreground: 47 100% 92%;

    --primary: 78 20% 60%;

    --primary-foreground: 47 100% 92%;

    --secondary: 202 15% 20%;

    --secondary-foreground: 47 100% 92%;

    --muted: 202 15% 20%;

    --muted-foreground: 78 15% 70%;

    --accent: 202 15% 20%;

    --accent-foreground: 47 100% 92%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 47 100% 92%;

    --border: 202 15% 25%;

    --input: 202 15% 25%;

    --ring: 78 20% 60%;

    --chart-1: 78 20% 60%;

    --chart-2: 202 19% 33%;

    --chart-3: 47 100% 92%;

    --chart-4: 202 25% 45%;

    --chart-5: 226 10% 50%
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
